{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans 'Import new Recipe' %}{% endblock %}

{% block content %}

    <h3>{% trans 'Import new Recipe' %}</h3>

    <form action="." method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success" type="submit"><i class="fas fa-save"></i> {% trans 'Save' %}</button>
    </form>

    <script>
        //converts multiselct in recipe edit to searchable multiselect
        //shitty solution that needs to be redone at some point
        $(document).ready(function () {
            $('#id_keywords').select2();
        });
    </script>
{% endblock %}