{% extends "base.html" %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% load i18n %}
{% load l10n %}

{% block title %}{% trans 'Edit Recipe' %}{% endblock %}

{% block extra_head %}

{% endblock %}

{% block content %}

    <div id="app">
        <edit-internal-recipe></edit-internal-recipe>
    </div>


{% endblock %}


{% block script %}
    {% if debug %}
        <script src="{% url 'js_reverse' %}"></script>
    {% else %}
        <script src="{% static 'django_js_reverse/reverse.js' %}"></script>
    {% endif %}

    <script type="application/javascript">

        window.CUSTOM_LOCALE = '{{ request.LANGUAGE_CODE }}'
        window.RECIPE_ID = {{ recipe.pk }}
        window.DEFAULT_UNIT = '{{request.user.userpreference.default_unit}}'
        window.USER_PREF = {
            'use_kj': {% if request.user.userpreference.use_kj %} true {% else %} false {% endif %},
        }

    </script>

    {% render_bundle 'edit_internal_recipe' %}
{% endblock %}