{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% load account socialaccount %}

{% block head_title %}{% trans "Social Network Login Failure" %}{% endblock %}


{% block content %}


    <div class="row">
        <div class="col-12" style="text-align: center">
            <h3>{% trans "Sign In" %}</h3>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12 col-lg-6 col-md-6 offset-lg-3 offset-md-3">
            <hr>
            <h6>{% trans "Social Network Login Failure" %}</h6>

            <p>{% trans "An error occurred while attempting to login via your social network account." %}</p>

            <a class="btn btn-secondary" href="{% url 'account_login' %}">{% trans "Back" %}</a>

            {% if auth_error %}
            <div class="card mt-3 mb-3">
                <div class="card-header">{% trans "Error Details" %}</div>
                <div class="card-body">
                    <table class="table table-sm table-borderless mb-0">
                        {% if auth_error.provider %}
                        <tr>
                            <td><strong>{% trans "Provider" %}</strong></td>
                            <td>{{ auth_error.provider }}</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td><strong>{% trans "Error Code" %}</strong></td>
                            <td><code>{{ auth_error.code }}</code></td>
                        </tr>
                        {% if auth_error.exception and request.user.is_superuser %}
                        <tr>
                            <td><strong>{% trans "Details" %}</strong></td>
                            <td><code>{{ auth_error.exception }}</code></td>
                        </tr>
                        {% endif %}
                    </table>
                </div>
            </div>
            <p class="text-muted small">{% trans "If this problem persists, please contact your administrator and provide the error details above." %}</p>
            {% endif %}
        </div>
    </div>



{% endblock %}
