# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
docs/reports/**

# Django stuff:
*.log
mediafiles/
*.sqlite3*
staticfiles/
postgresql/
data/

# Sphinx documentation
docs/_build/

# PyBuilder
target/

\.idea/dataSources/
\.idea/dataSources\.xml

\.idea/dataSources\.local\.xml

\.idea/workspace\.xml

\.idea/misc\.xml

# Deployment
\.env

cookbook/static/vue
vue/webpack-stats.json
/docker-compose.override.yml
vue/node_modules
plugins
vue3/node_modules
cookbook/templates/sw.js
vue/.yarn
vue3/.vite

# Configs
vetur.config.js
venv/
.idea/easy-i18n.xml
cookbook/static/vue3