Django==4.2.5
cryptography===41.0.4
django-annoying==0.10.6
django-autocomplete-light==3.9.4
django-cleanup==8.0.0
django-crispy-forms==2.0
crispy-bootstrap4==2022.1
django-tables2==2.5.3
djangorestframework==3.14.0
drf-writable-nested==0.7.0
django-oauth-toolkit==2.3.0
django-debug-toolbar==3.8.1
bleach==6.0.0
gunicorn==20.1.0
lxml==4.9.3
Markdown==3.4.3
Pillow==10.0.1
psycopg2-binary==2.9.5
python-dotenv==1.0.0
requests==2.31.0
six==1.16.0
webdavclient3==3.14.6
whitenoise==6.5.0
icalendar==5.0.7
pyyaml==6.0.1
uritemplate==4.1.1
beautifulsoup4==4.12.2
microdata==0.8.0
Jinja2==3.1.2
django-webpack-loader==1.8.1
git+https://github.com/BITSOLVER/django-js-reverse@071e304fd600107bc64bbde6f2491f1fe049ec82
django-allauth==0.54.0
recipe-scrapers==14.36.1
django-scopes==2.0.0
pytest==7.3.1
pytest-django==4.5.2
django-treebeard==4.7
django-cors-headers==4.2.0
django-storages==1.13.2
boto3==1.28.57
django-prometheus==2.2.0
django-hCaptcha==0.2.0
python-ldap==3.4.3
django-auth-ldap==4.4.0
pytest-factoryboy==2.5.1
pyppeteer==1.0.2
validators==0.20.0
pytube==15.0.0
