django
Pillow
django-tables2
django-filter
django-crispy-forms
djangorestframework
django-autocomplete-light
django-emoji-picker
django-cleanup
bleach
bleach-whitelist
six
requests
markdown
simplejson
lxml
webdavclient3
python-dotenv
psycopg2-binary
gunicorn
