Django==3.2.13
cryptography==37.0.1
django-annoying==0.10.6
django-autocomplete-light==3.9.4
django-cleanup==6.0.0
django-crispy-forms==1.14.0
django-filter==21.1
django-tables2==2.4.1
djangorestframework==3.13.1
drf-writable-nested==0.6.3
bleach==4.1.0
bleach-allowlist==1.0.3
gunicorn==20.1.0
lxml==4.8.0
Markdown==3.3.6
Pillow==9.0.1
psycopg2-binary==2.9.3
python-dotenv==0.20.0
requests==2.27.1
six==1.16.0
webdavclient3==3.14.6
whitenoise==6.0.0
icalendar==4.0.9
pyyaml==6.0
uritemplate==4.1.1
beautifulsoup4==4.10.0
microdata==0.8.0
Jinja2==3.1.1
django-webpack-loader==1.4.1
django-js-reverse==0.9.1
django-allauth==0.50.0
recipe-scrapers==13.32.1
django-scopes==1.2.0
pytest==7.1.1
pytest-django==4.5.2
django-treebeard==4.5.1
django-cors-headers==3.11.0
django-storages==1.12.3
boto3==1.21.31
django-prometheus==2.2.0
django-hCaptcha==0.2.0
python-ldap==3.4.0
django-auth-ldap==4.0.0
pytest-factoryboy==2.1.0
pyppeteer==1.0.2
