{% extends "base.html" %}
{% load i18n %}
{% load django_tables2 %}

{% block title %}{{ title }}{% endblock %}


{% block content %}

    <div class="table-container">
        <h3 style="margin-bottom: 2vh">{% trans 'Manage Keywords' %} {% trans 'List' %}
            {% if create_url %}
                <a href="{% url create_url %}"> <i class="fas fa-plus-circle"></i>
                </a>
            {% endif %}
        </h3>

        {% render_table table %}

    </div>

{% endblock content %}