{% extends "base.html" %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% load i18n %}
{% load l10n %}

{% block title %}{% trans 'Recipe Books' %}{% endblock %}

{% block content_fluid %}

    <div id="app" >
        <cookbook-view></cookbook-view>
    </div>


{% endblock %}


{% block script %}
    {% if debug %}
        <script src="{% url 'js_reverse' %}"></script>
    {% else %}
        <script src="{% static 'django_js_reverse/reverse.js' %}"></script>
    {% endif %}

    <script type="application/javascript">
        window.IMAGE_PLACEHOLDER = "{% static 'assets/recipe_no_image.svg' %}"

        window.CUSTOM_LOCALE = '{{ request.LANGUAGE_CODE }}'
    </script>

    {% render_bundle 'cookbook_view' %}
{% endblock %}