{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Recipe Books' %}{% endblock %}


{% block content %}
    <div class="row">
        <div class="col col-md-9">
            <h2>{% trans 'Recipe Books' %}</h2>
        </div>
        <div class="col col-md-3" style="text-align: right">
            <a href="{% url 'new_book' %}" class="btn btn-success"><i
                    class="fas fa-plus-circle"></i> {% trans 'New Book' %}</a>
        </div>
    </div>
    <br/>
    <br/>

    {% for b in book_list %}
        <div class="row">
            <div class="col col-md-10">
                <a data-toggle="collapse" href="#collapse_{{ b.book.pk }}" role="button" aria-expanded="false"
                   aria-controls="collapse_{{ b.book.pk }}"><h4>{{ b.book.name }}</h4></a>
            </div>
            <div class="col col-md-2" style="text-align: right">
                <h4>

                    <a href="{% url 'edit_recipe_book' b.book.pk %}"> <i class="fas fa-pencil-alt"></i></a>
                    <a href="{% url 'delete_recipe_book' b.book.pk %}"><i class="fas fa-trash-alt"></i></a>
                </h4>
            </div>
            <hr/>
        </div>

        <div class="row">
            <div class="col col-md-12">
                <div class="collapse" id="collapse_{{ b.book.pk }}">
                    {% if b.recipes %}
                        <ul>
                            {% for r in b.recipes %}
                                <div class="row">
                                    <div class="col col-md-10">
                                        <li><a href="{% url 'view_recipe' r.recipe.pk %}">{{ r.recipe.name }}</a></li>
                                    </div>
                                    <div class="col col-md-2" style="text-align: right">
                                        <a href="{% url 'delete_recipe_book_entry' r.pk %}"><i class="fas fa-trash-alt"></i></a>
                                    </div>
                                </div>
                            {% endfor %}
                        </ul>
                    {% else %}
                        {% trans 'There are no recipes in this book yet.' %}
                    {% endif %}
                </div>
            </div>
        </div>
        <br/>
    {% endfor %}

{% endblock %}