{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'Export Recipes' %}{% endblock %}

{% block extra_head %}
    {{ form.media }}
{% endblock %}


{% block content %}
    <h2>{% trans 'Export' %}</h2>
    <div class="row">
        <div class="col col-md-12">
            <form action="." method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-success" type="submit"><i class="fas fa-file-export"></i> {% trans 'Export' %}
                </button>
            </form>
        </div>
    </div>
{% endblock %}