{% extends "base.html" %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% load i18n %}
{% load l10n %}

{% block title %}{% trans 'Export' %}{% endblock %}

{% block content %}
    <div id="app">
        <export-response-view></export-response-view>
    </div>

{% endblock %}

{% block script %}
    {% if debug %}
        <script src="{% url 'js_reverse' %}"></script>
    {% else %}
        <script src="{% static 'django_js_reverse/reverse.js' %}"></script>
    {% endif %}

    <script type="application/javascript">
    {% if pk %}
        window.EXPORT_ID = {{ pk }}
    {% else %}
        window.EXPORT_ID = null
    {% endif %}
        window.CUSTOM_LOCALE = '{{ request.LANGUAGE_CODE }}'
    </script>

    {% render_bundle 'export_response_view' %}
{% endblock %}