{% extends "base.html" %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% load i18n %}
{% load l10n %}

{% block title %}{% trans 'Files' %}{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/vue-multiselect-bs4.min.css' %}">
{% endblock %}

{% block content %}

    <div id="app" >
        <user-file-view></user-file-view>
    </div>


{% endblock %}


{% block script %}
    {% if debug %}
        <script src="{% url 'js_reverse' %}"></script>
    {% else %}
        <script src="{% static 'django_js_reverse/reverse.js' %}"></script>
    {% endif %}

    <script type="application/javascript">

        window.CUSTOM_LOCALE = '{{ request.LANGUAGE_CODE }}'

        window.CURRENT_FILE_SIZE_MB = {{ current_file_size_mb|unlocalize }}
        window.MAX_FILE_SIZE_MB = {{ max_file_size_mb|unlocalize }}
    </script>

    {% render_bundle 'user_file_view' %}
{% endblock %}