{% extends "base.html" %}
{% load django_tables2 %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "History" %}{% endblock %}

{% block extra_head %}

{% endblock %}

{% block content %}

    <h3>{% trans 'History' %}</h3>
    <br/>

    <ul class="nav nav-tabs" id="id_tab_nav" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#view_log" role="tab" aria-controls="view_log"
               aria-selected="true">{% trans 'View Log' %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#cook_log" role="tab" aria-controls="cook_log"
               aria-selected="false">{% trans 'Cook Log' %}</a>
        </li>
    </ul>

    <div class="tab-content" id="id_tab_content">
        <div class="tab-pane fade show active" id="view_log" role="tabpanel" aria-labelledby="view-log">
            {% render_table view_log %}
        </div>
        <div class="tab-pane fade" id="cook_log" role="tabpanel" aria-labelledby="profile-tab">
            {% render_table cook_log %}
        </div>
    </div>

{% endblock %}