{% extends "base.html" %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% load i18n %}
{% load l10n %}

{% block title %}{% trans 'Import' %}{% endblock %}

{% block content %}

    <div id="app">
        <import-response-view></import-response-view>
    </div>


{% endblock %}


{% block script %}
    {% if debug %}
        <script src="{% url 'js_reverse' %}"></script>
    {% else %}
        <script src="{% static 'django_js_reverse/reverse.js' %}"></script>
    {% endif %}

    <script type="application/javascript">
        window.IMPORT_ID = {{pk}};
        window.CUSTOM_LOCALE = '{{ request.LANGUAGE_CODE }}'
    </script>

    {% render_bundle 'import_response_view' %}
{% endblock %}