{% extends "base.html" %}
{% load django_tables2 %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Cookbook" %}{% endblock %}

{% block content %}
    {% if filter %}
        <div class="card">
            <div class="card-header">
                {% trans "Search" %}
            </div>
            <div class="card-body">
                <form action="" method="get">
                    {% crispy filter.form %}
                    <input type="submit"/>
                </form>
            </div>
        </div>
    {% endif %}
    <br/>


    {% if recipes %}
        {% render_table recipes %}
    {% else %}
        <div class="alert alert-danger" role="alert">
            {% trans "Log in to view Recipies" %}
        </div>
    {% endif %}

{% endblock %}