{% extends "base.html" %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% load i18n %}
{% load l10n %}

{% block title %}{% trans 'Meal-Plan' %}{% endblock %}

{% block content_fluid %}

    <div id="app">
        <meal-plan-view></meal-plan-view>
    </div>


{% endblock %}


{% block script %}
    {% if debug %}
        <script src="{% url 'js_reverse' %}"></script>
    {% else %}
        <script src="{% static 'django_js_reverse/reverse.js' %}"></script>
    {% endif %}

    <script type="application/javascript">
        window.IMAGE_PLACEHOLDER = "{% static 'assets/recipe_no_image.svg' %}"

        window.CUSTOM_LOCALE = '{{ request.LANGUAGE_CODE }}'

        window.ICAL_URL = '{% url 'api_get_plan_ical' 12345 6789 %}'
        window.SHOPPING_URL = '{% url 'view_shopping' %}'
    </script>

    {% render_bundle 'meal_plan_view' %}
{% endblock %}