{% extends "base.html" %}
{% load webpack_loader %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Offline" %}{% endblock %}

{% block extra_head %}

{% endblock %}

{% block content %}

    <div style="text-align: center">

        <h1 class="">Offline</h1>
        <br/>

        <span>{% trans 'You are currently offline!' %}</span> <br/>
        <span>{% trans 'The recipes listed below are available for offline viewing because you have recently viewed them. Keep in mind that data might be outdated.' %}</span>
        <br/>
        <br/>

        <div id="app">
            <offline-view recipe_id="5"></offline-view>
        </div>

        <br/>
        <br/>
    </div>

{% endblock %}

{% block script %}

    <script src="{% url 'javascript-catalog' %}"></script>

    {% if debug %}
        <script src="{% url 'js_reverse' %}"></script>
    {% else %}
        <script src="{% static 'django_js_reverse/reverse.js' %}"></script>
    {% endif %}

    {% render_bundle 'chunk-vendors' %}
    {% render_bundle 'offline_view' %}

{% endblock %}