{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load custom_tags %}

{% block title %}{% trans 'View' %}{% endblock %}

{% block content %}

    <h3>{{ recipe.name }} <a href="{% url 'edit_recipe' recipe.pk %}"><i class="fas fa-pencil-alt"></i></a></h3>
    {% if recipe.all_tags %}
        {{ recipe.all_tags }}
        <br/>
    {% endif %}
    <br/>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{% trans 'Ingredients' %}</h5>


            {% for i in ingredients %}
                {{ i.amount }} {{ i.unit }} {{ i.ingredient.name }} <br/>
            {% endfor %}

        </div>
    </div>
    <br/>
    <br/>

    {{ recipe.instructions | markdown | safe }}

{% endblock %}