{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Cookbook Setup" %}{% endblock %}

{% block extra_head %}
    {{ form.media }}
{% endblock %}

{% block content %}

    <h1>{% trans 'Setup' %}</h1>
    <p>{% blocktrans %}To start using this application you must first create a superuser account.{% endblocktrans %}</p>

    <form action="." method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success" type="submit"><i class="fas fa-save"></i> {% trans 'Create Superuser account' %}</button>
    </form>

     <script>
        $('#id_name').focus()
    </script>

{% endblock %}