{% extends "base.html" %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% load i18n %}

{% block title %} {{ title }} {% endblock %}

{% block content_fluid %}

    <div id="app">
        <shopping-list-view></shopping-list-view>
    </div>

{% endblock %}

{% block script %}
    {% if debug %}
        <script src="{% url 'js_reverse' %}"></script>
    {% else %}
        <script src="{% static 'django_js_reverse/reverse.js' %}"></script>
    {% endif %}

    <script type="application/javascript">
        window.IMAGE_PLACEHOLDER = "{% static 'assets/recipe_no_image.svg' %}"
        window.CUSTOM_LOCALE = '{{ request.LANGUAGE_CODE }}'
        window.SHOPPING_MIN_AUTOSYNC_INTERVAL = {{ SHOPPING_MIN_AUTOSYNC_INTERVAL }}
    </script>


    {% render_bundle 'shopping_list_view' %}
{% endblock %}
