{% extends "base.html" %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% load i18n %}
{% load l10n %}

{% block title %}{% trans 'Space Management' %}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'view_space_manage' request.space.pk %}">{% trans 'Space Settings' %}</a></li>
                </ol>
            </nav>
        </div>


    </div>

    <div class="row">
        <div class="col col-12">
            <h3>
                <span class="text-muted">{% trans 'Space:' %}</span> {{ request.space.name }}
                <small>{% if HOSTED %} <a href="https://tandoor.dev/manage">{% trans 'Manage Subscription' %}</a>
                {% endif %}</small>
            </h3>
        </div>

    </div>

    <div id="app">
        <space-manage-view></space-manage-view>
    </div>


{% endblock %}


{% block script %}
    {% if debug %}
        <script src="{% url 'js_reverse' %}"></script>
    {% else %}
        <script src="{% static 'django_js_reverse/reverse.js' %}"></script>
    {% endif %}

    <script type="application/javascript">
        window.CUSTOM_LOCALE = '{{ request.LANGUAGE_CODE }}'
        window.ACTIVE_SPACE_ID = {{ request.space.id }}
    </script>

    {% render_bundle 'space_manage_view' %}
{% endblock %}