{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Stats' %}{% endblock %}


{% block content %}
    <div class="row">
        <div class="col col-12">
            <h3>{% trans 'Statistics' %} </h3>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    {% trans 'Number of objects' %}
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{% trans 'Recipes' %} : <span
                            class="badge badge-pill badge-info">{{ counts.recipes }}</span></li>
                    <li class="list-group-item">{% trans 'Keywords' %} : <span
                            class="badge badge-pill badge-info">{{ counts.keywords }}</span></li>
                    <li class="list-group-item">{% trans 'Units' %} : <span
                            class="badge badge-pill badge-info">{{ counts.units }}</span></li>
                    <li class="list-group-item">{% trans 'Ingredients' %} : <span
                            class="badge badge-pill badge-info">{{ counts.ingredients }}</span></li>
                    <li class="list-group-item">{% trans 'Recipe Imports' %} : <span
                            class="badge badge-pill badge-info">{{ counts.recipe_import }}</span></li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    {% trans 'Objects stats' %}
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{% trans 'Recipes without Keywords' %} : <span
                            class="badge badge-pill badge-info">{{ counts.recipes_no_keyword }}</span></li>
                    <li class="list-group-item">{% trans 'External Recipes' %} : <span
                            class="badge badge-pill badge-info">{{ counts.recipes_external }}</span></li>
                    <li class="list-group-item">{% trans 'Internal Recipes' %} : <span
                            class="badge badge-pill badge-info">{{ counts.recipes_internal }}</span></li>
                    <li class="list-group-item">{% trans 'Comments' %} : <span
                            class="badge badge-pill badge-info">{{ counts.comments }}</span></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}