{% extends "base.html" %}
{% load render_bundle from webpack_loader %}
{% load static %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block content %}

    <div id="app">
        <recipe-view recipe_id="5"></recipe-view>
    </div>

{% endblock %}


{% block script %}
    <script src="{% url 'javascript-catalog' %}"></script>

    {% if debug %}
        <script src="{% url 'js_reverse' %}"></script>
    {% else %}
        <script src="{% static 'django_js_reverse/js/reverse.js' %}"></script>
    {% endif %}

    <script type="application/javascript">
        window.RECIPE_ID = 5;

    </script>

    {% render_bundle 'chunk-vendors' %}
    {% render_bundle 'recipe_view' %}
{% endblock %}