{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'URL Import' %}{% endblock %}

{% block extra_head %}

    {% include 'include/vue_base.html' %}


    <script src="https://unpkg.com/vue-multiselect@2.1.0"></script>
    <link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css">
{% endblock %}

{% block content %}

    <div id="app">

        <div class="row">
            <div class="col-md-12">
                <div class="input-group mb-3">
                    <input class="form-control" v-model="remote_url" placeholder="{% trans 'Enter website URL' %}">
                    <div class="input-group-append">
                        <button @click="loadRecipe()" class="btn btn-primary shadow-none" type="button"
                                id="id_btn_search"><i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <br/>

        <div v-if="loading" class="text-center">
            <br/>
            <i class="fas fa-spinner fa-spin fa-8x"></i>
        </div>

        <template v-if="recipe_data !== undefined">

            <form>
                <div class="form-group">
                    <label for="id_name">{% trans 'Recipe Name' %}</label>
                    <input id="id_name" class="form-control" v-model="recipe_data.name">
                </div>

                <div class="row">
                    <div class="col col-md-6" v-if="recipe_data.image !== ''">
                        <img v-bind:src="recipe_data.image" alt="{% trans 'Recipe Image' %}"
                             class="img-fluid img-responsive img-rounded">
                    </div>
                    <div class="col col-md-6">
                        <div class="form-group">
                            <label for="id_prep_time">{% trans 'Preparation time ca.' %}</label>
                            <input id="id_prep_time" class="form-control" v-model="recipe_data.prepTime">
                        </div>

                        <div class="form-group">
                            <label for="id_waiting_time">{% trans 'Waiting time ca.' %}</label>
                            <input id="id_waiting_time" class="form-control" v-model="recipe_data.cookTime">
                        </div>
                    </div>

                </div>
                <br/>

                <div class="row">
                    <div class="col-md-12">
                        <template v-for="(i, index) in recipe_data.recipeIngredient">

                            <div class="card" style="margin-top: 4px">
                                <div class="card-body">
                                    <div class="row" v-if="i.original">
                                        <div class="col-md-12" style="margin-bottom: 4px">
                                            <span class="text-muted"><i class="fas fa-globe"></i> [[i.original]]</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">
                                            <input class="form-control" v-model="i.amount">
                                        </div>
                                        <div class="col-md-5">
                                            <multiselect
                                                    v-model="i.unit"
                                                    :options="units"
                                                    :close-on-select="true"
                                                    :clear-on-select="true"
                                                    :hide-selected="true"
                                                    :preserve-search="true"
                                                    placeholder="{% trans 'Select one' %}"
                                                    tag-placeholder="{% trans 'Create new' %}"
                                                    label="text"
                                                    :taggable="true"
                                                    track-by="id"
                                                    :multiple="false">
                                            </multiselect>

                                        </div>
                                        <div class="col-md-5">

                                            <multiselect
                                                    v-model="i.ingredient"
                                                    :options="ingredients"
                                                    :taggable="true"
                                                    @tag="addIngredientType"
                                                    placeholder="{% trans 'Select one' %}"
                                                    tag-placeholder="{% trans 'Create new' %}"
                                                    :close-on-select="true"
                                                    :clear-on-select="true"
                                                    :hide-selected="true"
                                                    :preserve-search="true"
                                                    label="text"
                                                    :id="index"
                                                    track-by="id"
                                                    :multiple="false">
                                            </multiselect>
                                        </div>
                                        <div class="col-md-1">
                                            <button class="btn btn-outline-danger btn-lg" type="button"
                                                    @click="deleteIngredient(i)"><i
                                                    class="fas fa-trash-alt"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </template>

                        <div style="text-align: center; margin-top: 16px">
                            <button class="btn btn-success" type="button" @click="addIngredient()"><i
                                    class="fas fa-plus"></i></button>
                            <br/><br/>
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <label for="id_instructions">{% trans 'Instructions' %}</label>
                    <textarea id="id_instructions" class="form-control" v-model="recipe_data.recipeInstructions"
                              rows="8"></textarea>
                </div>

                <div class="form-group">
                    <label for="id_keywords">{% trans 'Keywords' %}</label>

                    <multiselect
                            v-model="recipe_data.keywords"
                            :options="keywords"
                            :close-on-select="false"
                            :clear-on-select="true"
                            :hide-selected="true"
                            :preserve-search="true"
                            placeholder="{% trans 'Select one' %}"
                            label="text"
                            track-by="id"
                            id="id_keywords"
                            :multiple="true">
                    </multiselect>
                </div>

                <div class="form-group">
                    <label for="id_all_keywords">{% trans 'All Keywords' %}</label><br/>
                    <input id="id_all_keywords" type="checkbox"
                           v-model="all_keywords"> {% trans 'Import all Keywords not only the ones already existing.' %}
                </div>

                <div class="form-group">
                    <button type="button" class="btn btn-success" @click="importRecipe()">{% trans 'Import' %}</button>
                </div>

                <br/>
                <br/>
                <br/>
            </form>
        </template>

        <template v-if="error !== undefined">
            <div>

                <div style="text-align: center">
                    <i class="fas fa-robot fa-8x"></i><br/><br/>
                    [[error.msg]]
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="card border-info mb-6">
                        <div class="card-body text-info">
                            <h5 class="card-title">{% trans 'Information' %}</h5>
                            <p class="card-text">
                                {% blocktrans %} Only websites containing ld+json or microdata information can currently
                                    be imported. Most big recipe pages support this. If you site cannot be imported but
                                    you think
                                    it probably has some kind of structured data feel free to post an example in the
                                    github issues.{% endblocktrans %}
                            </p>
                            <a href="https://developers.google.com/search/docs/data-types/recipe" target="_blank"
                               rel="noreferrer nofollow"
                               class="card-link">{% trans 'Google ld+json Info' %}</a>
                            <a href="https://github.com/vabene1111/recipes/issues" target="_blank"
                               rel="noreferrer nofollow"
                               class="card-link">{% trans 'GitHub Issues' %}</a>
                            <a href="https://schema.org/Recipe" target="_blank" rel="noreferrer nofollow"
                               class="card-link">{% trans 'Recipe Markup Specification' %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </template>

    </div>

    <script type="application/javascript">
        let csrftoken = Cookies.get('csrftoken');
        Vue.http.headers.common['X-CSRFToken'] = csrftoken;

        Vue.component('vue-multiselect', window.VueMultiselect.default)

        let app = new Vue({
            components: {
                Multiselect: window.VueMultiselect.default
            },
            delimiters: ['[[', ']]'],
            el: '#app',
            data: {
                value: [
                    {name: 'Javascript', code: 'js'}
                ],
                options: [
                    {name: 'Vue.js', code: 'vu'},
                    {name: 'Javascript', code: 'js'},
                    {name: 'Open Source', code: 'os'}
                ],
                remote_url: '',
                keywords: [],
                units: [],
                ingredients: [],
                recipe_data: undefined,
                error: undefined,
                loading: false,
                all_keywords: false,
            },
            mounted: function () {
                this.getKeywords();
                this.getUnits();
                this.getIngredients();
            },
            methods: {
                loadRecipe: function () {
                    this.recipe_data = undefined
                    this.error = undefined
                    this.loading = true
                    this.$http.get("{% url 'api_recipe_from_url' 12345 %}".replace(/12345/, this.remote_url)).then((response) => {
                        this.recipe_data = response.data;
                        this.loading = false
                    }).catch((err) => {
                        this.error = err.data
                        this.loading = false
                        console.log(err)
                    })
                },
                addTag(newTag) {
                    const tag = {
                        name: newTag,
                        code: newTag.substring(0, 2) + Math.floor((Math.random() * 10000000))
                    }
                    this.options.push(tag)
                    this.value.push(tag)
                },
                importRecipe: function () {
                    this.$set(this.recipe_data, 'all_keywords', this.all_keywords)
                    this.$http.post(`{% url 'data_import_url' %}`, this.recipe_data).then((response) => {
                        location.href = response.data
                    }).catch((err) => {
                        console.log("dragChanged create error", err);
                    })
                },
                deleteIngredient: function (i) {
                    this.recipe_data.recipeIngredient = this.recipe_data.recipeIngredient.filter(item => item !== i)
                },
                addIngredient: function (i) {
                    this.recipe_data.recipeIngredient.push({
                        unit: {id: 'null', text: '{{ request.user.userpreference.default_unit }}'},
                        amount: 0,
                        ingredient: {id: 'null', text: ''}
                    })
                },
                addIngredientType: function (tag, index) {
                    let new_ingredient = this.recipe_data.recipeIngredient[index]
                    new_ingredient.ingredient = {'id': 'null', 'text': tag}
                    this.ingredients.push(new_ingredient.ingredient)
                    this.recipe_data.recipeIngredient[index] = new_ingredient
                },
                //TODO only load when needed
                getKeywords: function () {
                    this.$http.get("{% url 'dal_keyword' %}").then((response) => {
                        this.keywords = response.data.results;
                    }).catch((err) => {
                        console.log(err)
                    })
                },
                getUnits: function () {
                    this.$http.get("{% url 'dal_unit' %}").then((response) => {
                        this.units = response.data.results;
                    }).catch((err) => {
                        console.log(err)
                    })
                },
                getIngredients: function () {
                    this.$http.get("{% url 'dal_ingredient' %}").then((response) => {
                        this.ingredients = response.data.results;
                    }).catch((err) => {
                        console.log(err)
                    })
                },
            }
        });
    </script>

{% endblock %}