{% extends "base.html" %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load custom_tags %}

{% block title %}{% trans 'URL Import' %}{% endblock %}


{% block content_fluid %}

    <div id="app">

        <import-view></import-view>
    </div>


{% endblock %}


{% block script %}
    {% if debug %}
        <script src="{% url 'js_reverse' %}"></script>
    {% else %}
        <script src="{% static 'django_js_reverse/reverse.js' %}"></script>
    {% endif %}

    <script type="application/javascript">
        window.CUSTOM_LOCALE = '{{ request.LANGUAGE_CODE }}'
        window.API_TOKEN = '{{ api_token }}'
        window.BOOKMARKLET_IMPORT_ID = {{ bookmarklet_import_id }}
    </script>

    {% render_bundle 'import_view' %}
{% endblock %}