{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load class_tag %}

{% block title %}{% trans 'Edit' %} - {{ title }}{% endblock %}

{% block extra_head %}
    {{ form.media }}
{% endblock %}

{% block content %}

    <h3>{% trans 'Edit' %} {{ title }}</h3>

    <form action="." method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Submit" class="btn btn-success">
        <a href="{% url 'redirect_delete' form.instance|get_class|lower form.instance.pk %}" class="btn btn-danger">{% trans 'Delete' %}</a>
    </form>

{% endblock %}