{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load django_tables2 %}



{% block content %}

    <div class="table-container">
        <h3>{{ title }} {% trans 'List' %}
            {% if create_url %}
                <a href="{% url create_url %}"> <i class="fal fa-plus-circle"></i>
                </a>
            {% endif %}
        </h3>
        {% render_table table %}

        {% if import_btn %}
            <a href="{% url 'data_batch_import' %}" class="btn btn-warning">{% trans 'Import all' %}</a>
        {% endif %}
    </div>

{% endblock content %}