{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans 'New' %} - {{ title }}{% endblock %}

{% block content %}

    <h3>{% trans 'New' %} {{ title }}</h3>

    <form action="." method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Submit" class="btn btn-success">
    </form>


    <script>
        //converts multiselct in recipe edit to searchable multiselect
        //shitty solution that needs to be redone at some point
        $(document).ready(function () {
            $('#id_keywords').select2();
            $('#id_icon').emojioneArea();
        });

    </script>
{% endblock %}