{% load i18n %}

<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading"><i class="fas fa-exclamation-triangle"></i> {% trans 'Security Warning' %}</h4>
    <p>{% blocktrans %}
        The <b>Password and Token</b> field are stored as <b>plain text</b> inside the database.
        This is necessary because they are needed to make API requests, but it also increases the risk of
        someone stealing it. <br/>
        To limit the possible damage tokens or accounts with limited access can be used.
    {% endblocktrans %}</p>
</div>