:root > * {
    --md-primary-fg-color: #ddbf86;
    --md-accent-fg-color: #b55e4f;

    --md-primary-fg-color--light: #ddbf86;

    /* not working part, has no effect */
    --md-primary-bg-color: #121212;
    --md-default-bg-color: #121212;
    --md-default-bg-color--light: #f5efea;
    --md-default-bg-color--lighter: #f5efea;
    --md-default-bg-color--lightest: #f5efea;
}

/*
flame dark orange #FF6F00
background dark #272727
tandoor #ffcb76
*/