{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load django_tables2 %}

{% block title %}{% trans 'Batch edit Category' %}{% endblock %}

{% block content %}

    <h3>
        {% trans 'Batch edit Recipes' %}
    </h3>

    <div class="card border-info" >
        <div class="card-body text-info">
            <p class="card-text">{% trans 'Add the specified category and keywords to all recipes containing a word' %}</p>
        </div>
    </div>

    <form method="POST" class="post-form">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Submit" class="btn btn-success">
    </form>

    <script>
        //TODO clean this up
        //converts multiselct in recipe edit to searchable multiselect
        //shitty solution that needs to be redone at some point
        $(document).ready(function () {
            $('#id_keyword').select2();
        });
    </script>
{% endblock %}