{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load django_tables2 %}

{% block title %}{% trans 'Batch edit Category' %}{% endblock %}

{% block content %}

    <h3>
        {% trans 'Batch edit Recipes' %}
        <small class="text-muted">{% trans 'Add the specified category and keywords to all recipes containing a word' %}</small>
    </h3>

    <form method="POST" class="post-form">{% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Submit" class="btn btn-success">
    </form>

{% endblock %}