{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load django_tables2 %}

{% block title %}{% trans 'Sync' %}{% endblock %}

{% block content %}

    <h3>{% trans 'Manage watched Folders' %}</h3>

    {% trans 'On this Page you can manage all DropBox folder locations that should be monitored and synced' %} <br/>
    {% trans 'The path must be in the following format' %} <code>/Folder/RecipesFolder</code>
    <br/>
    <a href="{% url 'api_dropbox_sync' %}" class="btn btn-success">{% trans 'Sync Now!' %}</a>
    <br/>
    <form method="POST" class="post-form">{% csrf_token %}
        {% crispy form %}
        <input type="submit" value="Submit" class="btn btn-success">
    </form>
    <br/><br/>

    {% render_table monitored_paths %}

{% endblock %}