{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Importing Recipes' %}{% endblock %}


{% block content %}

    <h3>
        {% trans 'Importing Recipes' %}
    </h3>
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="text-center">

        {% if not request.user.is_authenticated or request.user.userpreference.theme == request.user.userpreference.TANDOOR %}
           <img class="spinner-tandoor"/>
        {% else %}
            <i class="fas fa-sync fa-spin fa-10x"></i>
        {% endif %}

        <br/>
        <br/>
        <br/>
        <div class="alert alert-success" role="alert">
            {% trans 'This can take a few minutes, depending on the number of recipes in sync, please wait.' %}
        </div>
    </div>

    <script>
        $(document).ready(function () {
            window.location.href = "{% url 'api_sync' %}"
        });
    </script>

{% endblock %}