a {
    color: #b98766;
    text-decoration: none;
    background-color: transparent
}

a:hover {
    color: #000;
    text-decoration: none
}

a:not([href]):not([tabindex]), a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none
}

a:not([href]):not([tabindex]):focus {
    outline: 0
}

