{% extends "base.html" %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% comment %} TODO Can this be combined with Food template? {% endcomment %}
{% block title %}{% trans 'Keywords' %}{% endblock %}

{% block content_fluid %}

    <div id="app" >
        <keyword-list-view></keyword-list-view>
    </div>


{% endblock %}


{% block script %}
    {% if debug %}
        <script src="{% url 'js_reverse' %}"></script>
    {% else %}
        <script src="{% static 'django_js_reverse/reverse.js' %}"></script>
    {% endif %}

    <script type="application/javascript">
        window.IMAGE_PLACEHOLDER = "{% static 'assets/recipe_no_image.svg' %}"
    </script>

    {% render_bundle 'keyword_list_view' %}
{% endblock %}