{% extends "base.html" %}


{% load i18n %}
{% load account %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 col-lg-6 col-md-6 offset-lg-3 offset-md-3">
            <hr>
            <h3>{% trans "Change Password" %}</h3>

            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p>{% trans 'Your password is now changed.' %}</p>
        </div>
    </div>
{% endblock %}