{% extends "base.html" %}


{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}


    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <div class="row">
        <div class="col-12" style="text-align: center">
            <h3>{% trans "Password Reset" %}</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-lg-6 col-md-6 offset-lg-3 offset-md-3">
            <hr>
            <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-sm-12 col-lg-6 col-md-6 offset-lg-3 offset-md-3 text-center">
            <a href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
            {% if SIGNUP_ENABLED %}
                - <a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
            {% endif %}
        </div>
    </div>

{% endblock %}