{% extends "base.html" %}
{% load crispy_forms_filters %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    <h3>{% trans "Password Reset" %}</h3>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form | crispy}}
        <input type="submit" class="btn btn-primary" value="{% trans 'Reset My Password' %}" />
        <a class="btn btn-primary" href="{% url 'account_signup' %}">{% trans "Sign In" %}</a>
        <a class="btn btn-success" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
    </form>

{% endblock %}