name: Continous Integration

on: [push]

jobs:
  build:
    if: github.repository_owner == 'vabene1111'
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.9]

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.9
      uses: actions/setup-python@v1
      with:
        python-version: 3.9
    # Build Vue frontend
    - uses: actions/setup-node@v2
      with:
        node-version: '14'
    - name: Install dependencies
      working-directory: ./vue
      run: yarn install
    - name: Build dependencies
      working-directory: ./vue
      run: yarn build
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        python3 manage.py collectstatic --noinput
        python3 manage.py collectstatic_js_reverse
    - name: Django Testing project
      run: |
        pytest
