name: publish docker image
on:
    push:
        branches:
            - "working"
jobs:
    build:
        if: github.repository_owner == 'smilerz'
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@master
        # Update Version number
        - name: Update version file
          uses: DamianReeves/write-file-action@v1.0
          with:
              path: recipes/version.py
              contents: |
                  VERSION_NUMBER = 'beta'
                  BUILD_REF = '${{ github.sha }}'
              write-mode: overwrite
        # Build Vue frontend
        - uses: actions/setup-node@v2
          with:
              node-version: "14"
        - name: Install dependencies
          working-directory: ./vue
          run: yarn install
        - name: Build dependencies
          working-directory: ./vue
          run: yarn build
        # Build container
        - name: Build and publish image
          uses: ilteoood/docker_buildx@master
          with:
              publish: true
              imageName: smilerz/recipes
              tag: beta
              dockerHubUser: ${{ secrets.USERNAME }}
              dockerHubPassword: ${{ secrets.PASSWORD }}
