name: Make Docs
on:
  push:
    branches:
      - master

jobs:
  deploy:
    if: github.repository_owner == 'TandoorRecipes'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - run: pip install mkdocs-material mkdocs-include-markdown-plugin
      - run: mkdocs gh-deploy --force