name: Push Workflow

on:
  push:
    branches: [working]

permissions:
  contents: read

jobs:

  detect-pr-merge:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    outputs:
      pr_merged: ${{ steps.detect_pr.outputs.result }}
    steps:      
      - name: Check if commit is part of a PR
        id: detect_pr
        uses: actions/github-script@v7
        with:
          script: |
            const prs = await github.rest.repos.listPullRequestsAssociatedWithCommit({
              owner: context.repo.owner,
              repo: context.repo.repo,
              commit_sha: context.sha
            });

            const pr = prs.data.find(pr => pr.merged_at);
            const merged = pr ? 'true' : 'false';
            
            // Set the output explicitly
            core.setOutput('pr_merged', merged);
            return merged;


  run-ci:
    needs: detect-pr-merge
    if: needs.detect-pr-merge.outputs.pr_merged != 'true'
    permissions:
      contents: read
      actions: write
    uses: ./.github/workflows/ci.yml
    secrets: inherit

  docker-publish:
    permissions:
      contents: read
      packages: write
    needs: [detect-pr-merge, run-ci]
    if: |
      needs.detect-pr-merge.outputs.pr_merged == 'true' ||
      needs.run-ci.result == 'success'
    uses: ./.github/workflows/docker-publish.yml
    secrets: inherit
